fastapi[standard]==0.115.12
uvicorn[standard]>=0.34.2
celery[redis]>=5.4.2
redis>=4.2.0
numpy>=1.24.0
soundfile>=0.11.0
python-multipart>=0.0.6
librosa
pydantic>=2.7.0,<3.0.0
torch>=2.0.0       
scikit-image
torchlibrosa==0.1.0